<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success" class="ion-text-center">
      Consilio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row>
      <ion-col>
        Quanto você quer guardar por mês?
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="number" name="value" placeholder="valor"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row>
      <ion-col>
        Meta de gastos por dia
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        R$ 60,00
      </ion-col>
    </ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row>
      <ion-col>
        Sua média atual
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        R$ 50,00
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <div class="ion-text-center">
    <ion-label color="primary">Você está cumprindo sua meta</ion-label>
  </div>
</ion-footer>