<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success" class="ion-text-center">
      Consilio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row header">
    <div class="col">Nome</div>
    <div class="col">Tipo</div>
    <div class="col">Valor</div>
    <div class="col">Data</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
  <div class="row" ng-repeat="data in ctrl.data">
    <div class="col">Teste</div>
    <div class="col">Teste</div>
    <div class="col">R$20,00</div>
    <div class="col">02/08/21</div>
  </div>
</ion-content>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" name="name" placeholder="nome"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" name="type" placeholder="tipo"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="number" name="value" placeholder="valor"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="date" name="data"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <button ion-button icon-only clear style="background: transparent">
      <ion-icon name="add-circle" color="primary" style="font-size: 60px"></ion-icon>
    </button>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          Recebimentos
        </ion-col>
        <ion-col>
          R$60.000,00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Gastos
        </ion-col>
        <ion-col>
          R$5.000,00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Saldo mês
        </ion-col>
        <ion-col>
          R$55.000,00
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>