<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success" class="ion-text-center">
      Consilio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">Nome</ion-col>
      <ion-col size="2">Tipo</ion-col>
      <ion-col size="2">Valor</ion-col>
      <ion-col size="3">Data</ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <div *ngFor="let financa of financas; let i = index">
      <ion-row>
        <ion-col size="3">{{financa.nome}}</ion-col>
        <ion-col size="2">{{financa.tipo}}</ion-col>
        <ion-col size="2">R${{financa.valor}}</ion-col>
        <ion-col size="3">{{financa.data_operacao}}</ion-col>
        <ion-col size="1">
          <button ion-button icon-only clear style="background: transparent" (click)="excluir(financa.id)">
            <ion-icon name="trash" color="primary" style="font-size: 20px"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input type="text" name="nome" [(ngModel)]="nome" placeholder="nome"></ion-input>
        </ion-col>
        <ion-col>
          <ion-select placeholder="Tipo" name="tipo" [(ngModel)]="tipo">
            <ion-select-option value="Ganho">Ganho</ion-select-option>
            <ion-select-option value="Gasto">Gasto</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-input type="number" name="valor" [(ngModel)]="valor" placeholder="valor"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="date" name="data_operacao" [(ngModel)]="data_operacao"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-text-center" type="submit">
      <button ion-button icon-only clear style="background: transparent" (click)="adicionar()">
        <ion-icon name="add-circle" color="primary" style="font-size: 60px"></ion-icon>
      </button>
    </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        Recebimentos
      </ion-col>
      <ion-col>
        R$ {{recebimentosMes}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Gastos
      </ion-col>
      <ion-col>
        R$ {{gastosMes}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Saldo mês
      </ion-col>
      <ion-col>
        R$ {{saldoMes}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>