<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success" class="ion-text-center">
      Consilio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h4>Histórico de gastos e ganhos</h4>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item style="border-width: 0">
            <ion-label>Mês</ion-label>
            <ion-select style="width:60%">
              <ion-select-option value="black">Janeiro</ion-select-option>
              <ion-select-option value="black">Fevereiro</ion-select-option>
              <ion-select-option value="black">Março</ion-select-option>
              <ion-select-option value="black">Abril</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col lines="none">
          <ion-item style="border-width: 0">
            <ion-label>Ano</ion-label>
            <ion-select style="width:60%">
              <ion-select-option value="black">2021</ion-select-option>
              <ion-select-option value="black">2020</ion-select-option>
              <ion-select-option value="black">2019</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
              <ion-select-option value="black">2018</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">Nome</ion-col>
      <ion-col size="2">Tipo</ion-col>
      <ion-col size="2">Valor</ion-col>
      <ion-col size="3">Data</ion-col>
    </ion-row>
    <div *ngFor="let financa of financas; let i = index">
      <ion-row>
        <ion-col size="3">{{financa.nome}}</ion-col>
        <ion-col size="2">{{financa.tipo}}</ion-col>
        <ion-col size="2">R${{financa.valor}}</ion-col>
        <ion-col size="3">{{financa.data_operacao}}</ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        Recebimentos
      </ion-col>
      <ion-col>
        R$ {{recebimentosMes}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Gastos
      </ion-col>
      <ion-col>
        R$ {{gastosMes}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Saldo mês
      </ion-col>
      <ion-col>
        R$ {{saldoMes}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>